
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="search">
      <ion-label>Search</ion-label>
      <ion-icon name="search-sharp"  size="large"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="gem-list">
      <ion-label>Gem List</ion-label>
      <ion-icon name="folder-sharp" size="large"></ion-icon>
    </ion-tab-button>

    <ion-tab-button routerLink="/payment" routerDirection="root">
      <ion-label>Pay</ion-label>
      <ion-icon name="wallet" size="large"></ion-icon>
    </ion-tab-button>

    <ion-tab-button routerLink="/home" routerDirection="root">
      <ion-label>Account</ion-label>
      <ion-icon name="person-circle" size="large"></ion-icon>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>

