<ion-app>
  <ion-menu side="start">
  <ion-header>
    <ion-toolbar>
      <ion-title>
      </ion-title>
       <ion-img src='../../assets/techwire.jpeg'></ion-img>
  </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-menu-toggle>
        <ion-item lines="none" routerLink="/home">
          <ion-icon name="home" slot="start"></ion-icon>
          <ion-label>Home</ion-label>
        </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle>
        <ion-item lines="none" routerLink="/gems/fixed-gems-list">
          <ion-icon name="search-circle" slot="start"></ion-icon>
          <ion-label>Gems List</ion-label>
        </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle>
        <ion-item lines="none" routerLink="gems/bid-gems-list">
          <ion-icon name="checkbox" slot="start"></ion-icon>
          <ion-label>Gems List Bid</ion-label>
        </ion-item>
      </ion-menu-toggle>


        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/login">
            <ion-icon name="log-in" slot="start"></ion-icon>
            <ion-label>Login</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/registration">
            <ion-icon name="checkbox-outline" slot="start"></ion-icon>
            <ion-label>Registration</ion-label>
          </ion-item>
        </ion-menu-toggle>

      <ion-menu-toggle>
          
      <ion-item lines="none"  (click)="onLogout()" button>
        <ion-icon name="log-out" slot="start"></ion-icon>
        <ion-label>Logout</ion-label>
      </ion-item>
      </ion-menu-toggle>
    </ion-list>

  </ion-content>
</ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-app>
