<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/gems/tabs/search"></ion-back-button>
    </ion-buttons>
    <ion-title>payment</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-datetime value="2019-10-01T15:43:40.394Z" display-timezone="utc"></ion-datetime>
  <ion-item>
    <ion-label>start time</ion-label>
    <ion-datetime displayFormat="HH:mm:ss"></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label>end time</ion-label>
    <ion-datetime displayFormat="HH:mm:ss"></ion-datetime>
  </ion-item>

</ion-content>
